{% extends "header_user.html" %}




            {% block content %}
            
            
            <div class="d-flex justify-content-center">
            
            <form action="{% url 'user_auth:authenticate_user' %}" method="post">
                <h1> Login as User </h1>
                {% csrf_token %}
                <label>Username</label>
                <input type="text" name="username" placeholder="Insert username" required>
                <br/><br/>
                <label>Password</label>
                <input type="password" name="password" placeholder="Insert password" required>
                <br/><br/>
                <button type="submit" class="btn btn-outline-warning">Login</button>
            </form>
            
        
            
            {% endblock %}
